{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <!-- First full-width strip -->
    <div style="background-color: #fcfbf5; width: 100%; padding: 20px 0; text-align: center; margin: 0 auto;">
        <div class="central-container">
            <h1>Gustavo Santos</h1>
            <h3 style="color: #0081a7;">Data Analyst</h3>
            <p style="text-align: justify;"><br>Welcome to my portfolio! Here, you'll discover my key projects and a personal learning roadmap tracing my journey since January 2023.
                <br><br>While front-end development isn't my focus, I thrive in data analysis, machine learning, and creative problem-solving in general. Explore to see how I transform data into meaningful solutions.<br></p>
        </div>
    </div>
    

    <!-- Second full-width strip -->
    <div style="background-color: #99c1b9; width: 100%; padding: 20px 0; text-align: center; margin: 0 auto; box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);">
        <h2 style="color: #003566;">Main Projects</h2>
        <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; max-width: 1200px; margin: 0 auto;">            
            <!-- Project Containers -->
            {% for project in projects %}
                <a href="{{ project.url }}" class="project-container">
                    <div style="width: 100%; max-width: 300px; background-color: #fff; border-radius: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); padding: 20px; text-align: center; transition: transform 0.3s;">
                        <img src="{{ project.image }}" alt="{{ project.name }}" style="max-width: 100%; border-radius: 10px;">
                        <div style="background-color: #fff; padding: 10px; border-radius: 0 0 10px 10px;">
                            <h4>{{ project.name }}</h4>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div> <br>
    </div>

 

    <!-- Third full-width strip -->
    <div id="educational-journey" style="width: 100%; padding: 40px 0;">
        <div class="container-xxl">
            <iframe src='/dash/educationJourney/' style="width:100%; height:100vw; max-width:100%; max-height:100vh;"></iframe>

        </div>
    </div>

{% endblock %}
