{% extends 'base.html' %}

{% block title %}
    Spreadsheets - Gustavo Santos, Data Analyst
{% endblock %}

{% block content %}
    <div style="background-color: #99c1b9; width: 100%; padding: 20px 0; text-align: center; margin: 0 auto; box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);">
        <h2 style="color: #003566; font-size: 1.5em;">Useful Spreadsheets</h2><br>
        <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 20px; margin: 0 auto;">
            <!-- Project Containers -->
            {% for project in projects %}
                
                <div style="width: 100%; max-width: 500px; background-color: #fff; border-radius: 10px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); padding: 20px; text-align: center; transition: transform 0.3s;">
                    <a href="{{ project.url }}" class="project-container">
                        <img src="{{ project.image }}" alt="{{ project.name }}" style="max-width: 100%; height: auto; border-radius: 10px;">
                        <div style="background-color: #fff; padding: 10px; border-radius: 0 0 10px 10px;">
                            <h4 style="font-size: 1.2em;">{{ project.name }}</h4> </a>                        
                            <p style="font-size: 1em;">{{ project.text }}</p>
                        </div>
                </div>
                
            {% endfor %}
        </div> <br>
    </div>

    <!-- Responsive Styling -->
    <style>
        @media only screen and (min-width: 768px) {
            .project-container h2 {
                font-size: 2em;
            }
            .project-container h4 {
                font-size: 1.4em;
            }
            .project-container p {
                font-size: 1.1em;
            }
        }
    </style>

{% endblock %}
